body {
	font-family: 'Lato', sans-serif;
}

.brown{
	color: #E76816  ;
	font-family: 'Gloria Hallelujah', cursive;
}

.red{
	color: red;
}

.lightBlue {
	color: #00BFFF;
}

.hidden {
	display:none;
}