<div class="container">
	<div class="text-center">
        <h2 class="pacifico">About Me</h2>
		<img src="images/me.jpg" class="img-circle" alt="Vincent Lai" width="120" align-"middle">
	</div>
    <div class="col-md-12">
        <h3 class="pacifico">{{ message }}</h3>
        <p>Hi! My name is Robert. Lorem ipsum dolor sit amet, ex sit habeo consetetur repudiandae, imperdiet euripidis in pri. His cibo posse error an, in nec eius decore minimum. Pri at iisque saperet argumentum, ut inani facilisi persequeris quo. Viderer eligendi cum et. Esse mundi cum no, eum ne odio aliquip patrioque.

        Cum mandamus dissentiunt complectitur te, at adhuc prompta albucius vel. Dico harum suscipit ea duo, et antiopam persecuti eloquentiam eos. In est nobis doming iuvaret, cibo insolens cum at. Partem omnium honestatis vim cu, ad his eius volumus qualisque. Cibo prodesset cu qui, ei eos eleifend mediocrem intellegebat, eu has commodo dignissim expetendis.
        </p>
        <div class="col-md-12 text-center">
            <img src="images/chicago.jpg" class="img-rounded photo1" height="100px">
            <img src="images/fatools.jpg" class="img-rounded photo1" height="100px">
            <img src="images/jonathan.jpg" class="img-rounded photo1" height="100px">
        </div>
    </div>
    <p>&nbsp  </p>
    <p>&nbsp  </p>
    <div class="col-md-12">
        <h4 class="pacifico">About This Website</h4>
        <img style="margin: 5px;" src="images/angularjs.jpg" align="left" class="img-rounded photo2" height="150px">
        <p >This website Front-End is created with AngularJS Framework and UI.Bootstrap. While the Back-End or the CMS, I created with PHP and mysql. I do thought about using WordPress but I love to hand code my  own website. Of course I use HTML and CSS for the whole website. </p>
    </div>
</div>