<div class="container">
    <div class="col-md-12 text-center">
        <h2 class="pacifico">Blog</h2>
    </div>
    <div class="col-md-12">
        <h3>AngularJS: Getting a random items from JSON</h3>
        <p><i>June 3, 2016</i></p>
        <p>I basically learn angularjs on my own time. I am trying to migrate my old basic html css to angularjs. In my old website I have quote block that was reading from JSON files. I couldn't figure out how to do it with AngularJS. I read a lot of stackoverflow websites and finally figure out that I don't need to turn the json file to object, but still on array so that I could add random number on it</p>
        
    </div>


</div> <!-- end of container -->