
    <div class="container">
    	<h2 class="pacifico text-center">Portfolio</h2>
    	<p>&nbsp  </p>
    	<div class="row">
            <div class="col-md-6">
                <a href="PHP/index.php"><img class="center-block" src="images/php.jpg" style="height:300px;"></a>
            </div>
            <div class="col-md-6">
                <h3 class="text-center sigma">PHP</h3>
                <p>I am using PHP OOP to do CRUD on this note reminder application. I didn't connect the back end to database. I just serialize and un-serialize it as I add, edit or delete the Note. However, since this program is build with OOP. It is easy to connect to database.</p>
            </div>
        </div> 
        
        <p>&nbsp  </p>
        <div class="row">
            <div class="col-md-6">
                <a href="MainStreet/database.php"><img class="center-block" src="images/database.jpg" style="height:300px;"></a>
            </div>
            <div class="col-md-6">
                <h3 class="text-center sigma">mysql query</h3>
                <p>I am using PHP and mysql to create this database on the back end. I <i>inner join</i> 3 table together. Namely : Employee Database, Computer Datbase, and upgrade Database.</p>
            </div>
        </div> 
        <p>&nbsp  </p>
        <div class="row">
            <div class="col-md-6">
                <a href="#/"><img class="center-block" src="images/angularjs.jpg" style="height:300px;"></a>
            </div>
            <div class="col-md-6">
                <h3 class="text-center sigma">Angularjs</h3>
                <p>This website still under construction. My goal is to showcase all AngularJS capabilites. Connecting to database to create-edit-delete Blog, read JSON files, Login.</p>
            </div>
        </div> 
        <p>&nbsp  </p>
        <div class="row">
            <div class="col-md-6">
                <a href="android.php"><img class="center-block" src="images/android.jpg" style="height:300px;"></a>
            </div>
            <div class="col-md-6">
                <h3 class="text-center sigma">Android</h3>
                <p>
                    This groceries-App is reminder where I usually get certain Groceries item from. This app also include the price of that particular Groceries Item. For Example: I usually get my Hazelnut Cremer from Walmart and the creamer cost $2.19. Than as I was doing groceries shopping in Jewel Osco and I notice the creamer is on sale for $1.99 than I know I am getting a better deal in Jewel Osco that day.</p>
            </div>
        </div> 
	    
	    
    </div> <!-- end of container -->
 